*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
::selection{
    background-color: #013dc4;
    color: #e2d3f4;
}
:root {
    --blue: #013dc4;
    --purple: #e2d3f4;
    --blue2:#4A739A;
  }