*{
    font-family: 'Oswald', sans-serif;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
    margin-left: 10px;
}
.footer{
	background-color: #24262b;
    padding: 20px 0;
    margin-top: 50px;
    width: 100%;
}
.footer_col{
   width: 25%;
   padding: 0 15px;
}
.footer_col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer_col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #1671D0;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer_col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer_col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer_col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer_col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	text-align: center;
	line-height: 40px;
	border-radius: 50%;

}
.footer_col .social_links a img{
	width: 50px;
    height: 50px;
    padding: 5px;
}

/*responsive*/
@media(max-width: 767px){
  .footer_col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer_col{
    width: 100%;
}
}