/* 
font-family: 'Arvo', serif;
font-family: 'Mochiy Pop One', sans-serif;
font-family: 'Oswald', sans-serif;
 */
 .menu{
    background-color: #4A739A; 
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 0;
}
.menu img{
    width:5rem;
    height: 5rem;
}
.menu > nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
     width: 100%;
}
.menu >nav .img{
    width: 3rem;
    height: 2rem;
}
h3{
    color: white;
}
.titre{
    color: #1671D0;
    text-align: center;
    
}

.lesArticle article {
    border: 1px solid #707070;
    margin: 0 40px;
    border-radius: 15px;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.lesArticle .tmp{
    width: 10rem;
    height: 5.5rem;
    border: 1px solid #707070;
    border-radius: 15px;
}
.lesArticle article>div{
    display: flex;
    align-items: center;
}
.lesArticle .time {
    font-size: 30px;
    color: #1671D0;
    margin: 0 10px;
}
.lesArticle article dir span{
    border: 1px solid #707070;
    padding: 0 15px;
    border-radius: 15px;
    height: 25px;
    color:#707070;
    font-size: small;
}
dir{
    height: 100%;
}
.lesArticle label{
    color: #1671D0;
    font-size: 25px;
}
.lesArticle label select{
    color: #4A739A;
    border: 0;
    font-size: 20px;
}
.lesArticle .info{
    width: 50px;
    margin:  0 15px;

}
.lesArticle article>div>div>p{
    color: #707070;
}
.lesArticle article>div>div>p>span{
    color: #1671D0;
}

.lesArticle button{
    padding: 9px;
    color: white;
    background-color: #4A739A;
    border: 1px solid #4A739A;
    border-radius: 15px;
    width: 100%;
    transition: all 0.5s;
}
.lesArticle button:hover{
    color: #4A739A;
    background-color: transparent;
}