/* 
font-family: 'Arvo', serif;
font-family: 'Mochiy Pop One', sans-serif;
font-family: 'Oswald', sans-serif;
 */
.menu{
    /* background-color: #4A739A;  */
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 0;
}
.menu>img{
    width: 5rem;
    height: 5rem;
}
.menu > nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 13rem;
}
.menu >nav img{
    width: 2rem;
}
.connecter{
    text-decoration: none;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    padding: 5px 15px;
    border: 1px solid transparent;
}
.connecter:hover{
    border: 1px solid #fff;
    color: #fff;
    border-radius: 10px;
}
