.titre{
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;

}
.titre>h1{
    display: flex;
    justify-content: center;
    align-self: center;
    color: #1671D0;
    padding:10px;
    font-family: 'Arvo', serif;
}
.titre>span{
    content: '';
    display: flex;
    justify-content: center;
    align-self: center;
    width: 200px;
    height: 3px;
    background-color: #1671D0;
    border-radius: 5px;
}
.LesArticle{
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: flex;
    justify-content: space-around;
}
.LesArticle>article{
    /* width: 250px; */
    box-shadow: 0px 0px 5px #000;
    border-radius: 10px;
    padding: 5px;
    margin: 15px;
}
.LesArticle>article>img{
    width: 100%;
    height: 250px;
    border-radius: 5px 5px 0 0 ;
}
.LesArticle>article>p{
    color: #4A739A;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    height: 100px;
    padding: 2px;
}
.LesArticle>article>a{
    background-color: var(--blue);
    color: var(--purple);
    padding: 10px;
    border-radius: 5px;
    float:right;
    text-decoration: none;
    border: 1px solid transparent;
    width: 150px;
    text-align: center;
    transition: all 1s;
}
.LesArticle>article>a:hover{
    background-color: transparent;
    color: var(--blue);
    border: 1px solid var(--blue);
}