.titre{
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;

}
.titre>h1{
    display: flex;
    justify-content: center;
    align-self: center;
    color: #1671D0;
    padding:10px;
    font-family: 'Arvo', serif;
}
.titre>span{
    content: '';
    display: flex;
    justify-content: center;
    align-self: center;
    width: 200px;
    height: 3px;
    background-color: #1671D0;
    border-radius: 5px;
}
.lesArticle{
    padding-top: 50px;
    display: flex;
    overflow: hidden;
   
}
.lesArticle>article{
   
    margin: 5px;
    padding: 1px;
    width: 250px;
    height: 150px;
    border-radius: 10px;
}
.lesArticle>article>img{
    border: 1px solid #4A739A;
    border-radius: 10px;
    /* width: 100%; */
}