.education{
    width: 100%;
}
.titre{
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;

}
.titre>h1{
    display: flex;
    justify-content: center;
    align-self: center;
    color: #1671D0;
    padding:10px;
    font-family: 'Arvo', serif;
}
.titre>span{
    content: '';
    display: flex;
    justify-content: center;
    align-self: center;
    width: 200px;
    height: 3px;
    background-color: #1671D0;
    border-radius: 5px;
}
.titre{
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;

}
.titre>h1{
    display: flex;
    justify-content: center;
    align-self: center;
    color: #1671D0;
    padding:10px;
    font-family: 'Arvo', serif;
}
.titre>span{
    
    display: flex;
    justify-content: center;
    align-self: center;
    width: 200px;
    height: 3px;
    background-color: #1671D0;
    border-radius: 5px;
}
.info{
    width: 100%;
    padding: 10px 15%;
}
.info>p{
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    text-align: center;
}
.partee{
    padding: 5rem ;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Oswald', sans-serif;
    width: 100%;
}
.partee>article{
    width: 15rem;
    display: flex;
    justify-content: space-between;
}
.partee h3{
    color: #1671D0;
}
.partee img{
    width: 5rem;
    height: 5rem;
    margin-right: 20px;
    padding-top: 20px;
}
.partee article div{
    width: 300px;
}
@media screen and (max-width: 750px){
    .partee{
        
        display: grid;
    }
    .partee>article{
        padding: 1.5rem;
    }
}